<h1><%= @photo.name %></h1>

<%= image_tag @photo.image_url, class: "photo-image" %>

<div class="target-box"></div>
<div class="target-choices">
  <h3>Who did you find?</h3>
  <ul>
    <li>Waldo</li>
    <li>Odlaw</li>
  </ul>
</div> 